<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-left: 80px;">
  <div>
    <img src="../../assets/img/deep-pocket-icon-200x200.png" class="img img-fluid" style="height: 60px">
  <h4 style="font-weight: 600;margin-top: 10px;display: inline;">Deep Pocket</h4>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

    </ul>
    <form class="form-inline my-2 my-lg-0 mr-5">
     <button type="button" class="btn blue-btn" style="margin-right: 50px">About</button>
    </form>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-7">
      &nbsp;
    </div>
    <div class="col-md-5" id="forms-parent">
      <div class="container-fluid" id="login-parent">
        <div class="row" style="position: relative;">
          <div class="col-lg-7" id="login-card">
            <div class="row justify-content-center">
              <div class="col-6">
                <img src="../../assets/img/login-icon.png" class="img img-fluid" style="margin-top: 60px">
              </div>
              <div class="col-12 mt-5">
                <input type="text" class="login-input" placeholder="Email">
                <input type="password" class="login-input" placeholder="Password">
              </div>
            </div>
          </div>
          <div class="col-lg-5" id="signup-card">

          </div>
        </div>
      </div>
    </div>
  </div>

</div>