<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-left: 80px;">
  <div>
    <img src="../../assets/img/deep-pocket-icon-200x200.png" class="img img-fluid" style="height: 60px">
  <h4 style="font-weight: 600;margin-top: 10px;display: inline;">Deep Pocket</h4>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

    </ul>
    <form class="form-inline my-2 my-lg-0 mr-5">
     <button type="button" class="btn blue-btn" style="margin-right: 50px">About</button>
    </form>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-7">
      <div class="row justify-content-center" style="padding-top: 20%" >
        <div class="col-md-6" style="text-align: center">
          <img src="../../assets/img/login-page-into.png" alt="">
          <h3 style="font-weight: 500">Track | Manage | Predict</h3>
        </div>
      </div>
    </div>
    <div class="col-md-5" id="forms-parent">
      <div class="container-fluid" id="login-parent">
        <div class="row" style="position: relative;">
          <div class="col-lg-7 col-10" id="login-card"  [@myAnimation]="loginState" (click)="toggle('login')">
            <div class="row justify-content-center">
              <div class="col-6">
                <img src="../../assets/img/login-icon.png" class="img img-fluid" style="margin-top: 48%">
              </div>
              <div class="col-12" style="text-align: center;margin-top: 15%">
                <input type="email" name="email" class="login-input" placeholder="Email" [(ngModel)]="loginEmail">
                <input type="password" name="password" class="login-input" placeholder="Password" [(ngModel)]="password">
                <button type="button" class="btn blue-btn login-button" style="margin-top: 10%" (click)="login()">Login</button>
                <h6 style="color:red;margin-top: 8%; font-size: 0.6em" *ngIf="errorMsg!=''">{{ errorMsg }}</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-7 col-10" id="signup-card"  [@myAnimation]="signupState" (click)="toggle('signup')" >
            <div class="row justify-content-center">
              <div class="col-6">
                <img src="../../assets/img/signup-icon.png" class="img img-fluid" style="margin-top: 40%">
              </div>
              <div class="col-12 mt-5" style="text-align: center">
                <input type="text" class="login-input" placeholder="Email" [(ngModel)]="signupEmail">
                <button type="button" class="btn blue-btn login-button"  style="margin-top: 15%">Get Started</button>
                <h6 style="color:red;margin-top: 8%; font-size: 0.6em">Input Valid Email</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>