#login-wrapper {
    
    min-height: 60vh;
}

#section-2-wrapper {
    background-color: white;
    min-height: 100vh;
    padding-top: 22%;
    button {
        width: 100%;
        border: none;
        background: orangered;
        box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
    }
}

#section-1-wrapper {
    background-image: url("../../assets/img/wp2054297.jpg");
    background-size: cover;
    min-height: 60vh;
    background-position: center;
}

.input-box {
    width: 100%;
    margin-bottom: 5%; 
}

.pass-input {
    width: 100%;
    border: none;
    border-left: 3px solid orangered;
    padding: 12px; 
    padding-left: 18px;
}
::placeholder {

}